@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');


/* 루트 스타일 */
:root {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333;
}
/* 공통스타일 */
.container{
    margin: 0 20px;
    background-color: #3c4042;
}
.section:not(.jumbo) .row{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.section:not(.jumbo) .container{
    padding: 100px 0;
}
.section:not(.jumbo) .sec-tit{
    margin-bottom: 100px;
}
.section:not(.jumbo) .sec-tit h2{
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}
.section:not(.jumbo) .sec-tit::after{
    display: block;
    content: '';
    width: 50px;
    height: 2px;
    margin: 0 auto;
    background-color: #f8bcc2;
}

/* 스킵메뉴 스타일 */
.skip-menu h4{
    font-size: 0;
}
.skip-menu a {
    position: fixed;
    left: 50%;
    top: -50%;
    transform: translate(-50%, 0);
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #000;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    z-index: 10001;
}
.skip-menu a:focus {
    top: 50%;
    transform: translate(-50%, -50%);
}

.wrap{
    padding: 44px 0;
}

/* fixed 스타일 header,footer */
.header, .footer{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}        
.footer{
    top:auto;
    bottom: 0;
}
.header .container, .footer .container{
    background-color: #fff;
}
.header .row, .footer .row{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 a{
    font-weight: 700;
    font-size: 1.2em;
}

/* jumbo 스타일 */
.jumbo .row{
    height: calc(100vh - 44px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;          
}
.jumbo .row::before{
    display: block;
    content: '';
}
.jumbo h2{
    font-family: 'Playball', cursive;
    font-weight: 500;
    font-size: 50px;
    color: #fff;
    text-align: center;
}
.jumbo h3{
    font-family: 'Baloo 2', cursive;
    font-weight: 700;
    font-size: 72px;
    color: #f8bcc2;
    text-align: center;
}
.jumbo .sec-conts{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

/* 스크롤 스타일 */
.scrl-border{
    width: 30px;
    height: 50px;
    margin-bottom: 10px;
    border: 2px solid #fff;
    border-radius: 15px;   
    position: relative; 
}
.move-point{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 30%;
    opacity: 1;
    transform: translate(-50%,-50%);
    animation: mouse-whill 1.5s infinite;
}
@keyframes mouse-whill {
    0%{
        top: 30%;
        opacity: 1;
    }
    90%{
        top: 50%;
        opacity: 0;
    }
    100%{
        top: 50%;
        opacity: 0;
    }
}
.scrl-txt{
    font-size: 12px;
    color: #fff;
    opacity: 0.5;
}

/* 프로필 스타일 */
.profile .sec-conts{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 960px;
}
.card{
    width: 30%;
    height: 400px;
    position: relative;
}
.card-front, .card-back{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px;
    transition: 0.5s;
    background-color: #f8bcc2;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
}
.card-front{
    transform: perspective(500px) rotateY(0deg);
    align-items: center;
}
.card:hover .card-front{
    transform: rotateY(180deg);
}
.card-back{
    transform: perspective(500px) rotateY(-180deg);
    background-color: #fff;
}
.card:hover .card-back{
    transform: rotateY(0deg);
}
.card-front h3{
    font-weight: 600;
    font-size: 24px;
    color: #fff;
}
.card-back span{
    font-size: 14px;
}
.card-back span:first-child{
    padding-right: 10px;
    font-weight: 700;
    color: #de6969;
}
.card-middle .card-back{
    justify-content: space-around;
    align-items: center;
}
.card-middle .card-back .img-box{
    width: 180px;
    height: 180px;
    border: 1px solid #333;
    border-radius: 50%;
    padding: 10px;
    background-color: #ccc;
}
.card-middle .card-back .img-box div{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}
#mid-name{
    font-weight: 900;
    color: #de6969;
}
.card-middle .card-back p span{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #333;
}

/* 포트폴리오 스타일 */
.portfolio .sec-conts{
    width:960px;
    margin:0 auto;
}
.port{
    display:flex;
    flex-flow:row wrap;      
    margin-bottom:150px;
}
.port5{
    margin-bottom:0;
}
.port-img,.port-content{
    width:50%;
}
.port-content{
    display:flex;
    flex-flow:column nowrap;
    justify-content: space-evenly;
    align-items:flex-end;
}
.port:nth-child(2n) .port-content{
    align-items:flex-start;
}
.port:nth-child(2n) .port-img{
    order:2;
}
.port:nth-child(2n) .port-content{
    order:1;
}
.port-content h3{      
    color:#f8bcc2;
}
.port-content h4{
    font-weight:600;
    font-size:64px;
    color:#fff;
    text-align:right;
    line-height:68px;
}
.port:nth-child(2n) .port-content h4{
    text-align:left;
}
.port-content hr{
    width:100%;
}
.port-content button{
    border:1px solid #f8bcc2;
    padding:15px 20px;
    background-color:transparent;
    color:#fff;
    cursor:pointer;
}
.port-content button:hover{
    background-color:#f8bcc2;      
}

/* 스킬 스타일 */
.skills .sec-conts{
    width: 960px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.skill{
    width: 16%;
}
.skill p{
    margin-top: 10px;
    text-align: center;
    color: #fff;
}


@media (max-width:1200px) {
    /* 1200 프로필 스타일 */
    .profile .sec-conts{
        width: 680px;
    }
    .card{
        width: 32%;
        height: 320px;
    }
    .card-front h3{
        font-size: 20px;
    }
    .card-back span{
        font-size: 14px;
    }
    #mid-name{
        font-weight: 700;
        font-size: 18px;
    }
    .card-middle .card-back p span{
        font-size: 14px;
    }

    /* 1200 포트폴리오 스타일 */
    .portfolio .sec-conts{
        width: 840px;
    }
}

@media (max-width:960px){
    /* 960 포트폴리오 스타일 */
    .portfolio .sec-conts{
        width: 640px;
    } 
    .port-content h4{
        font-size: 45px;
        line-height: 56px;
    }

    /* 960 스킬 스타일 */
    .skills .sec-conts{
        width: 640px;
    }
}

/* 테블릿 스타일 */
@media (max-width:767px){
    /* 767 fixed 스타일 header,footer */
    .header .row, .footer .row{
        justify-content: center;
    }
    .header .row p, .footer address{
        display: none;
    }

    /* 767 프로필 스타일 */
    .profile .sec-conts{
        width: 60%;
        min-width: 300px;
    }
    .card{
        width:100%;
        height:75vw;
        min-height:420px;
        margin-bottom:30px;
    }
    .card-front h3{
        font-size: 24px;
    }
    .card-back span{
        font-size: 20px;
    }
    #mid-name{
        font-weight: 900;
        font-size: 24px;
    }
    .card-middle .card-back p span{
        font-size: 20px;
    }

    /* 767 포트폴리오 스타일 */
    .portfolio .sec-conts{
        width:80%;        
        min-width:320px;
    }
    .port{
        margin-bottom:100px;
    }    
    .port5{
        margin-bottom:0;
    }  
    .port-img,.port-content{
        width:100%;
    }
    .port-img{
        margin-bottom:20px;
    }
    .port-content{
        align-items:center !important;
    }
    .port:nth-child(2n) .port-img{
        order:1;
    }
    .port:nth-child(2n) .port-content{
        order:2;
    }
    .port-content h4{
        margin-bottom:20px;
        font-size:42px;
        line-height:50px;
        text-align:center !important;
    }
    .port-content hr{
        display:none;
    }
}

@media (max-width:640px) {
    /* 640 스킬 스타일 */
    .skills .sec-conts{
        width: 80%;
        min-width: 320px;
        flex-direction: column;
        align-items: center;
    }
    .skill{
        width: 40%;
        margin-bottom: 50px;
    }
    .skill:last-child{
        margin-bottom: 0;
    }
}

/* 모바일 스타일 */
@media (max-width:424px){
    /* 424 공통 스타일 */
    .container{
        margin: 0;
    }

    /* 424 jumbo 스타일 */
    .jumbo h2{
        font-size: 32px;
    }
    .jumbo h3{
        font-size: 64px;
    }
}